.navbar-dark{
    background: #111f29;
}

.nav-item{
    margin-right: 10px;
}

.header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {
    color: #f6b60b !important;
  }