<!-- Top Header_Area -->


<nav class="top_header_area row">
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="nav navbar-nav top_nav navbar-nav mr-auto">
                <li class="nav-item"><a href="#"><i class="fa fa-phone"></i>+1 (168) 314 5016</a></li>
                <li class="nav-item"><a href="#"><i class="fa fa-envelope-o"></i>info@thethemspro.com</a></li>
                <li class="nav-item"><a href="#"><i class="fa fa-clock-o"></i>Mon - Sat 12:00 - 20:00</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right social nav navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </nav>
    <!-- Header_Area -->
    <div class="navbar navbar-default header_aera" id="main_navbar">
        <nav class="mb-1 navbar navbar-expand-lg container">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
                <ul class="nav navbar-nav top_nav navbar-nav mr-auto">
                    <li class="nav-item"> <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png"
                                alt=""></a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right social nav navbar-nav ml-auto nav-flex-icons">

                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="index-2.html">Home 2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
                        <ul class="dropdown-menu other_dropdwn">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="about-2.html">About Us-2</a></li>
                        </ul>
                    </li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                        <ul class="dropdown-menu other_dropdwn">
                            <li><a href="services.html">Services</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Gallery</a></li>
                    <li class="dropdown submenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <ul class="dropdown-menu">
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>

                </ul>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->


        </nav><!-- /.container -->
    </div>
</nav>
<!-- End Header_Area -->