<!-- Our Team Area -->
<section class="our_team_area">
    <div class="container">
        <div class="tittle wow fadeInUp">
            <h2>Our Team</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="row team_row">
            <div class="col-md-3 col-sm-6 wow fadeInUp">
               <div class="team_membar">
                    <img src="../assets/images/team/tm-1.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Prodip Ghosh</a>
                        <h6>Founder &amp; CEO</h6>
                    </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
               <div class="team_membar">
                    <img src="../assets/images/team/tm-2.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Emran Khan</a>
                        <h6>Web-Developer</h6>
                    </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
               <div class="team_membar">
                    <img src="../assets/images/team/tm-3.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Prodip Ghosh</a>
                        <h6>Founder &amp; CEO</h6>
                    </div>
               </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
               <div class="team_membar">
                    <img src="../assets/images/team/tm-4.jpg" alt="">
                    <div class="team_content">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Jakaria Khan</a>
                        <h6>Founder &amp; CEO</h6>
                    </div>
               </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Team Area -->